*{
margin: 0px;
padding: 0px;
}
    
body{
background-color: black;
height: 1270px;
}
    
header{
display: flex;
align-items: center;
justify-content: space-between;
    width: 100%;
}
    
#h1{
display: flex;
color: white;
font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-size: 40px;
justify-content: flex-start;
}
    
#h2{
display: flex;
color: #FFFFFF80;
font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-size: 12px;
justify-content: center;
}
    
#ul1{
display: flex;
list-style: none;
justify-content: space-around;
}
.li1{
padding-right: 20px;
}
.li1:hover{
color: #20c997;
}
    
.rede1{
width: 9px;
padding-right: 20px;
}
.rede2{
width: 17px;
padding-right: 20px;
}
.rede2:hover{
fill: white;
transition: 1s;
}
.rede1:hover{
fill: white;
transition: 1s;
}
    
#submenu{
display: none;
position: absolute;
background-color: white;
transition: 1s;
width: 150px;
}
    
#submenu1{
list-style: none;
color: black;
background-color: white;
border-top: #20c997 2px solid;
padding-left: 10px;
position: absolute;
z-index: +50;
}
    
#galeria:hover #submenu{
display: block;
}
    
#submenu:hover{
display: block;
}
    
.lista{
padding-bottom: 10px;
}
    
#h3{
display: flex;
justify-content: flex-end;
}

#titu{
display: flex;
justify-content: center;
color: white;
font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-size: 60px;
width: 100%;
position: relative;
top: 100px;
}

nav{
display: flex;
position: relative;
width: 100%;
top: 200px;
flex-wrap: wrap;
font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
justify-content: space-around;
z-index: +20;
}

.quad{
text-align: center;
background-color: #262626;
width: 300px;
height: 300px;
padding: 24px;
color: #777;
font-size: 16px;
}

.icons{
width: 60px;
transition: 0.4s;
fill: #20c997;
}
.icons:hover{
transform: scale(1.2);
}

#c1{
color: white;
font-size: 30px;
}

#c2{
color: #20c997;
font-size: 16px;
}

#nav2{
    display: flex;
    position: relative;
    top: 250px;
    flex-wrap: wrap;
    font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    justify-content: space-around;
    width: 100%;
    z-index: +20;
}

section{
    color: #FFFFFF80;
    font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    position: relative;
    top: 300px;
    z-index: +20;
}

#copy{
    color: #20c997;
}

#copy:hover{
    filter: brightness(80%);
}

#serv{
    color: #20c997;
}

a{
    color: #777;
    text-decoration: none;
}

a:hover{
    color: #20c997;
}